/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pastline Sans", Arial, sans-serif;
}

html,
body,
#root {
    height: 100%;
    overflow: hidden;
} */


@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
